
.dashboard-footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e6e6e6;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}