
.header{
    display: flex;
    padding: 0em 1em;
    align-items: center;
    justify-content: space-between;
    background-color: #607d8b54;
}

.mat-form-field{
    width: 100%;
}

.body{
    padding: 1em;
}