
.register{
    display: flex;
    justify-content: center;
    margin-top: 2em;

    mat-card{
        width: 50%;
        padding: unset;

        .mat-card-header {
            justify-content: center;

            p{
                margin: 0;
                text-transform: uppercase;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.66);
            }
            .mat-icon{
                width: unset;
                font-size: 70px;
                color: #673ab7;
            }
            .line{
                width: 4em;
                border: 0.13em solid #673ab7;
            }
        }

        .mat-card-content{
            padding: 16px;
        }

        mat-form-field{
            width: 100%;
        }
    }
}

mat-card-title.mat-card-title {
    text-align: center;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #039be5;
    }
}

@media only screen and (max-width: 900px) {
    .register{
        mat-card{
            width: 90%;
        }
    }
  }