
.header{
    display: flex;
    padding: 0em 1em;
    align-items: center;
    justify-content: space-between;
    background-color: #607d8b54;
}

.mat-form-field{
    width: 100%;
}

.body{
    padding: 1em;
}

.header-text{
    font-weight: bolder;
    font-size: 16px;
}
.product_images{
    display: flex;
    justify-content: center;
    img{
        cursor: pointer;
    }
    .actions{
        display: flex;
        align-items: center;
    }
}

.m-b-1{
    margin-bottom: 1em;
}